<mat-card>
    <span class="material-icons">
    person_add
    </span> 
    <mat-card-title>Register</mat-card-title>
<mat-card-content>
<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <p>
    <mat-form-field>
      <input type="text" #inputRef matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="(registerForm.controls['username'].touched || submitted) && registerForm.controls['username'].errors?.required">Username is required</mat-error>
      <mat-error *ngIf="registerForm.controls['username'].errors?.userExist"> User already exist, Please click cancel to login with same.</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="(registerForm.controls['password'].touched || submitted) && registerForm.controls['password'].errors?.required">Password is required</mat-error>
      <mat-error *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors?.invalidPassword" > Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
        letter and 1 number </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password" formControlName="confPassword">
      <mat-error *ngIf="(registerForm.controls['confPassword'].touched || submitted) && registerForm.controls['confPassword'].errors?.required">Confirm Password is required</mat-error>
     <mat-error *ngIf="registerForm.controls['confPassword'].touched && registerForm.controls['confPassword'].errors?.passwordMismatch"> Password Must Match</mat-error>
    </mat-form-field>
  </p>

  <p *ngIf="infoMessage.length>0" class="green">
    {{infoMessage}}
  </p>

  <div class="button">
    <button type="submit" mat-button [disabled]="!registerForm.valid">Register</button>
    <button (click)="onCancel()" mat-button>Cancel</button>
  </div>

</form>
</mat-card-content>
</mat-card>